<div style="text-align: center;">

  <h1 style="">FIRST API</h1>
<div style="color: rgb(176, 75, 75);">{{data.id}}</div>
<br>
<div style="color: rgb(176, 75, 75);">{{data.title}}</div>
<br>
<div style="color: rgb(176, 75, 75);">{{data.completed}}</div>
<br><br>
<hr style="width: 300px;">
<h1 style="">SECOND API</h1>
<div style="color: blue;">{{info.id}}</div>
<br>
<div style="color: blue;" >{{info.title}}</div>
<br>
<div style="color: blue;">{{info.price}}</div>
<br>
<div style="color: blue;">{{info.description}}</div>
<br>
<div style="color: blue;">{{info.category}}</div>
<br>
<div style="color: blue;">{{info.rate}}</div>

</div>




<router-outlet />
